.fundoCadastro {
    background-image: url(../../assets/cadastro.jpg);
      background-repeat: no-repeat;
      width: 104%;
      min-height: 108vh;
      background-size: cover;
      background-position: center;
  }
  body {
    
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background: white;
    background-size: 120% 120%;
  }